.alert-noti {
    display: none;
}
.btn-report {
    margin-top: 5px !important;
        padding: 6px 0px;
}
.activity-con:hover, .activity-con > label:hover {
	cursor: pointer;
}
.bg-blue{
    background-color: #00AAFF;
    color: #fff;
}

#edit-todos .modal-dialog {
     width: 60%; 
}
.d-none {
    display: none;
}
#activitys > .modal-dialog {
    width: 60%;
}

.height-active {
    height: auto; 
    overflow-x: auto; 
    overflow-y: auto; 

}
@media (max-width: 767px) and (min-width: 320px) {
    #edit-todos .modal-dialog, #activitys .modal-dialog {
    width: 100%;
    margin: 0px;
    }
}
.inner-main-con img {
    margin: 2px;
}
.change-password {
    padding-left: 10px;
}
.label-wrap img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top: -1px;
    box-shadow: 0 4px 9px 3px rgba(0,0,0,0.08);
}
.todo-con > .bg-blue {
    background-color: #00AAFF;
}
.todo-con > .bg-yellow {
    background-color: #F0AD4E;
}
.todo-con > .bg-green {
    background-color: #5CB85C;
}
.todo-con > .bg-red {
    background-color: #F0534F;
}
.border-right-blue{
   border: 1px solid #00AAFF !important;
   border-top: 1px solid #00AAFF !important;
}
.inner-main-con img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top: -1px;
    box-shadow: 0 4px 9px 3px rgba(0,0,0,0.08);
}
.loader-main {
    display: none;
    z-index: 1100;
}
.fa-1x {
    font-size: 1em !important;
}